<div>
    <img src="site/images/ChristianLorenz.jpg" alt="ChristianLorenz">
    <img src="site/images/ChristophSchneider.jpg" alt="ChristophSchneider">
    <img src="site/images/OliverRiedel.jpg" alt="OliverRiedel">
    <img src="site/images/PaulLanders.jpg" alt="PaulLanders">
    <img src="site/images/RichardKruspe.jpg" alt="RichardKruspe">
    <img src="site/images/TillLindemann.jpg" alt="TillLindemann">
</div>