<div>
    <img src="site/images/members/ChristianLorenz.jpg" alt="ChristianLorenz">
    <img src="site/images/members/ChristophSchneider.jpg" alt="ChristophSchneider">
    <img src="site/images/members/OliverRiedel.jpg" alt="OliverRiedel">
    <img src="site/images/members/PaulLanders.jpg" alt="PaulLanders">
    <img src="site/images/members/RichardKruspe.jpg" alt="RichardKruspe">
    <img src="site/images/members/TillLindemann.jpg" alt="TillLindemann">
</div>
<div>
    <img src="site/images/albums/01.Herzeleid.jpg" alt="Herzeleid">
    <img src="site/images/albums/02.Sehnsucht.jpg" alt="Sehnsucht">
</div>